@mixin mobile {
  @media screen and (width <= 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (width > 480px) and (width <= 768px) {
    @content;
  }
}

.testimonials {
  width: 100%;
  background-color: #1f1f1f;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .testimonials_container {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ffffff;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      flex-direction: column;
    }
  }
}
